<!doctype html>
<html lang="en-Es">

<head>
  <title>DatatesT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Logo en pestaña-->
  <link rel="shortcut icon" type="image/x-icon" href="images/DT.png">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/brand/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- Load Facebook SDK for JavaScript 
-->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v8.0'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-customerchat" attribution=setup_tool page_id="100315755160852" theme_color="#00a2e8"
    logged_in_greeting="¡Hola y bienvenido! " logged_out_greeting="¡Hola y bienvenido! ">
  </div>


  <div class="site-wrap" id="home-section">
    <!--Mobile menu to phone-->
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <!--End mobile menu-->

    <!--Nav-bar Start-->
    <header class="site-navbar light site-navbar-target">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-6 text-danger">
            <div class="site-logo">
              <a href="index.html"><img src="images/DT.png" alt="img-logo"><small> DATATEST </small></a>
            </div>
          </div>
          <div class="col-6 text-right">
            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span
                  class="icon-menu h1  text-white"></span></a></span>

            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li class="active"><a href="index.html" class="nav-link">Inicio</a></li>
                <li><a href="tutorials.html" class="nav-link">Cursos</a></li>
                <li><a href="services.html" class="nav-link">Servicios</a></li>
                <li><a href="about.html" class="nav-link">Nosotros</a></li>
                <li><a href="contact.html" class="nav-link">Contacto</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--Nav-bar End-->

    <!--Solo con "Motores de plantillas" como Python-->
    <!--En las paginas se agrega lo siguiente para que tengan el codigo reutilizado-->
    <!--{% extends "reutilizable.html"}
    {% block content% }
    {% endblock %}-->

    <!--{% block content% } 
     Aqui va el conte nido de cada pagina y lo de arriba se reutiliza
    {% endblock %}-->


    <div class="site-section-cover overlay" style="background-image: url('images/hero_bg.jpg');">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10 text-center">
            <h1> Transforma tus <strong> datos </strong> en <strong>soluciones</strong> </h1>
          </div>
        </div>
      </div>
    </div>

    <!--Info-->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <img src="images/hero_bg.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 ml-auto">
            <div class="heading mb-4">
              <span class="caption">Cursos</span>
              <h2>Origen</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique
              accusantium eius nulla quam laudantium sequi.</p>
            <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga
              aliquid delectus cum ipsa?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati earum sed odit. Ullam
              molestiae laudantium minus eaque ab fugit, maiores autem, modi quis eum aliquid sint voluptatibus
              doloremque fuga illo quidem eius. Maiores deserunt tempora ut alias in delectus.</p>
          </div>
        </div>
      </div>
    </div>

    <!--Info-->
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center mb-5">
            <div class="heading">
              <span class="caption">Cursos</span>
              <h2>Nuestros cursos</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Excellent Teacher!</h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis
                  commodi harum, iste quae repudiandae facilis veniam nam earum nulla sunt fuga magnam ipsum obcaecati.
                  Rem, atque recusandae! Ipsum veniam laboriosam quisquam in veritatis tempora architecto porro ea
                  eveniet qui?</p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Best Video Tutorial!</h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum"</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officiis sapiente obcaecati nisi
                  fuga saepe accusamus quidem doloremque voluptate assumenda et illo accusantium cumque tempore
                  necessitatibus sit voluptatem nulla magni, ut iusto! Iusto doloribus, quia commodi quidem veritatis
                  corrupti a ipsam hic corporis inventore est illo, impedit laborum, possimus molestias.</p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Easy to Understand!</h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum"</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur maxime velit voluptates,
                  assumenda quae, delectus praesentium harum blanditiis, amet tempora facere sapiente eum alias quos ad
                  fugit ipsa! Eligendi, architecto voluptas, possimus illo eius inventore non natus aut in debitis
                  repellat dolores sint maiores, pariatur eaque tempora! Sit, ducimus commodi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Info-->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <img src="images/hero_bg.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="heading mb-4">
              <span class="caption">About us</span>
              <h2>Our Company</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique
              accusantium eius nulla quam laudantium sequi.</p>
            <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga
              aliquid delectus cum ipsa?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quas quod modi recusandae eos neque qui et
              hic repellat, odit unde asperiores voluptate cum temporibus maxime eius voluptatum corporis beatae
              distinctio magni amet quae, facere ratione? Aperiam, accusantium nam? In.</p>
          </div>
        </div>
      </div>
    </div>

    <!--Itro to courses
    <div class="site-section bg-light pb-0">
      <div class="container">
        <div class="row align-items-stretch overlap">
          <div class="col-lg-8">
            <div class="box h-100">
              <div class="d-flex align-items-center">
                <div class="img"><img src="images/img_1.jpg" class="img-fluid" alt="Image"></div>
                <div class="text">
                  <a href="#" class="category">Tutorial</a>
                  <h3><a href="#">Learning React Native</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem totam exercitationem eveniet
                    blanditiis nulla, et possimus, itaque alias maxime!</p>
                  <p class="mb-0">
                    <span class="brand-react h5"></span>
                    <span class="brand-javascript h5"></span>
                  </p>
                  <p class="meta">
                    <span class="mr-2 mb-2">1hr 24m</span>
                    <span class="mr-2 mb-2">Advanced</span>
                    <span class="mr-2 mb-2">Jun 18, 2020</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box small h-100">
              <div class="d-flex align-items-center mb-2">
                <div class="img"><img src="images/img_2.jpg" class="img-fluid" alt="Image"></div>
                <div class="text">
                  <a href="#" class="category">Tutorial</a>
                  <h3><a href="#">Learning React Native</a></h3>
                </div>
              </div>
              <div class="d-flex align-items-center mb-2">
                <div class="img"><img src="images/img_3.jpg" class="img-fluid" alt="Image"></div>
                <div class="text">
                  <a href="#" class="category">Tutorial</a>
                  <h3><a href="#">Learning React Native</a></h3>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="img"><img src="images/img_4.jpg" class="img-fluid" alt="Image"></div>
                <div class="text">
                  <a href="#" class="category">Tutorial</a>
                  <h3><a href="#">Learning React Native</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->

    <!--Barra de cursos
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="heading mb-4">
              <span class="caption">Tutorial Courses</span>
              <h2>Choose Course</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-adobeillustrator"></span>
              <h3>Illustrator</h3>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-adobephotoshop"></span>
              <h3>Photoshop</h3>
            </a>
          </div>

          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-angular"></span>
              <h3>Angular</h3>
            </a>
          </div>

          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-javascript"></span>
              <h3>JavaScript</h3>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-react"></span>
              <h3>React</h3>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="#" class="course">
              <span class="wrap-icon brand-vue-dot-js"></span>
              <h3>Vue</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  -->

    <!--Blank-->
    <div class="site-section bg-light">
      <!-- Lista de cursos
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <form action="#" class="d-flex search-form">
              <span class="icon-"></span>
              <input type="search" class="form-control mr-2" placeholder="Search subjects">
              <input type="submit" class="btn btn-primary px-4" value="Search">
            </form>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="d-inline-flex align-items-center ml-auto">
              <span class="mr-4">Share:</span>
              <a href="#" class="mx-2 social-item"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="heading mb-4">
              <span class="caption">Latest</span>
              <h2>Tutorials</h2>
            </div>
          </div>
          <div class="col-lg-8">



            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning React Native</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>

                <p class="mb-0">
                  <span class="brand-react h5"></span>
                  <span class="brand-javascript h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>

                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning Angular 101</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>

                <p class="mb-0">
                  <span class="brand-angular h5"></span>
                  <span class="brand-javascript h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>

                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning Photoshop</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>
                <p class="mb-0">
                  <span class="brand-adobephotoshop h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>
                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Advance Illustrator</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>
                <p class="mb-0">
                  <span class="brand-adobeillustrator h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>
                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>


            <div class="custom-pagination">
              <ul class="list-unstyled">
                <li><a href="#"><span>1</span></a></li>
                <li><span>2</span></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span>4</span></a></li>
                <li><a href="#"><span>5</span></a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="box-side mb-3">
              <a href="#"><img src="images/img_1_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
            <div class="box-side mb-3">
              <a href="#"><img src="images/img_2_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
            <div class="box-side">
              <a href="#"><img src="images/img_3_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>

    <!--Info-->
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center mb-5">
            <div class="heading">
              <span class="caption">Servicios</span>
              <h2>Nuestro Servicio</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Problema</h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis
                  commodi harum, iste quae repudiandae facilis veniam nam earum nulla sunt fuga magnam ipsum obcaecati.
                  Rem, atque recusandae! Ipsum veniam laboriosam quisquam in veritatis tempora architecto porro ea
                  eveniet qui?</p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Analisis </h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum"</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officiis sapiente obcaecati nisi
                  fuga saepe accusamus quidem doloremque voluptate assumenda et illo accusantium cumque tempore
                  necessitatibus sit voluptatem nulla magni, ut iusto! Iusto doloribus, quia commodi quidem veritatis
                  corrupti a ipsam hic corporis inventore est illo, impedit laborum, possimus molestias.</p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5">Soluciones</h3>
              <blockquote class="mb-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam.
                  Ipsam, nam, voluptatum"</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur maxime velit voluptates,
                  assumenda quae, delectus praesentium harum blanditiis, amet tempora facere sapiente eum alias quos ad
                  fugit ipsa! Eligendi, architecto voluptas, possimus illo eius inventore non natus aut in debitis
                  repellat dolores sint maiores, pariatur eaque tempora! Sit, ducimus commodi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Conection-->
    <div class="site-section bg-primary py-5 cta">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-md-0">
            <h2 class="mb-0 text-white">¿Interesado en nuestro servicio?</h2>
            <p class="mb-0 opa-7">Te invitamos a pasar a nuestra sección de servicios para mas información</p>
          </div>
          <div class="col-lg-5 text-md-right">
            <a href="services.html" class="btn btn-primary btn-white"> Más Información</a>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a class="site-logo-footer"><img src="images/DT.png" alt="LOGO"> DATATEST</a>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row text-center text-black">
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="index.html"> Inicio </a></h2>
              </div>
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="tutorials.html"> Cursos </a></h2>
              </div>
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="services.html"> Servicios </a></h2>
              </div>
              <div class="col-lg-2                                            ">
                <h2 class="footer-heading mb-4"><a href="about.html"> Nosotros </a></h2>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">
                  <p>Redes sociales</p>
                </h2>
                <ul class="list-unstyled social">
                  <li><a href="https://www.facebook.com/DatatestOficial/" target="_blank"><span
                        class="icon-facebook"></span></a></li>
                  <li><a href="https://www.youtube.com/channel/UCCvq5NPsAGVJbb2i6guPptw?view_as=subscriber"
                      target="_blank"><span class="icon-youtube"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-1 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-0">
              <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear()); </script>
                All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i>
                <a href="index.html"> DT </a>
                <!--Para abrir enlaces en una nueva pestaña agrega: target="_blank" : frente a href=""-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
  </div>
  <!--Scripts Java-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>

</body>

</html>