<!doctype html>
<html lang="en-Es">

<head>
  <title>DatatesT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Logo en pestaña-->
  <link rel="shortcut icon" type="image/x-icon" href="images/DT.png">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/brand/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!--Text remote-->
  <!-- Load Facebook SDK for JavaScript 
-->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v8.0'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-customerchat" attribution=setup_tool page_id="100315755160852" theme_color="#00a2e8"
    logged_in_greeting="¡Hola y bienvenido! " logged_out_greeting="¡Hola y bienvenido! ">
  </div>


  <div class="site-wrap" id="home-section">
    <!--Mobile menu to phone-->
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <!--End mobile menu-->

    <!--Nav-bar Start-->
    <header class="site-navbar light site-navbar-target">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-3 text-danger">
            <div class="site-logo">
              <a href="index.html"><img src="images/DT.png" alt="img-logo"><small> DATATEST </small></a>
            </div>
          </div>
          <div class="col-9 text-right">
            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span
                  class="icon-menu h1  text-white"></span></a></span>

            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li class="active"><a href="index.html" class="nav-link">Inicio</a></li>
                <li><a href="tutorials.html" class="nav-link">Cursos</a></li>
                <li><a href="services.html" class="nav-link">Servicios</a></li>
                <li><a href="about.html" class="nav-link">Nosotros</a></li>
                <li><a href="contact.html" class="nav-link">Contacto</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--Nav-bar End-->

    <!--Solo con "Motores de plantillas" como Python-->
    <!--En las paginas se agrega lo siguiente para que tengan el codigo reutilizado-->
    <!--{% extends "reutilizable.html"}
    {% block content% }
    {% endblock %}-->

    <!--{% block content% } 
     Aqui va el conte nido de cada pagina y lo de arriba se reutiliza
    {% endblock %}-->


    <div class="site-section-cover overlay" style="background-image: url('images/hero_bg.jpg');">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10 text-center">
            <h1> Transforma tus <strong> datos </strong> en <strong>soluciones</strong> </h1>
          </div>
        </div>
      </div>
    </div>

    <!--Info-->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7  mb-5 mb-lg-0">
            <img src="images/Cursos.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 ml-auto">
            <div class="heading mb-4">
              <span class="caption">Origen</span>
              <h2>Cursos</h2>
            </div>
            <p>
              La educación y aprendizage son independientes de tener que asistir a una escuela, el aprender por nuestra cuenta muchas veces genera mejores resultados que tener que asistir a clases solo por cumplir.
            </p>
            <p>
              El sistema educativo escolar tiene muchos fallos, el más comun para Ciencia de datos es el atraso tecnológico, actualmente nos enfrentamos a nuevos problemas con las grandes fuentes de información que se traducen en datos que pueden ser analizados, desafortunadamente estas nuevas tecnologias no son impartidas en el salón de clases, por lo que toca aprender por nuestra cuenta.
            </p>
            <p>
              Es por estas razones que el acceso a las nuevas tecnologías de Ciencia de datos deberian ser posible para todos, nosotros ya recorrimos este camino y si quieres aprender queremos ayudarte.            </p>
        </div>
      </div>
    </div>

    <!--Info-->
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center mb-5">
            <div class="heading">
              <span class="caption">Cursos</span>
              <h2>Nuestros cursos</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <h3 class="h5 text-center">Autodidacta</h3>
              <blockquote class="mb-4">
                <p>
                  La Ciencia de datos es muy útil para la toma de decisiones, sea para negocios o investigación.
                </p>
                <p>
                  El conocimiento es la mejor inversión, invertir en nosotros nos genera mejores oportunidades.
                </p>
                <p>
                  Al no tener que seguir el ritmo de un grupo,
                  se puede dedicar más tiempo en lo que se tiene
                  dificultades y menos a lo que resulta más fácil.
                </p>
                <p>
                  Aprende a resolver los problemas por ti mismo,
                  pero no temas en preguntar si no sabes.
                </p>
                <p>Buscamos fomentar la curiosidad, la investigación 
                  y la autodisciplina.
                </p>
  
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2 heading">
              <h3 class="h5 text-center">Enseñar para aprender</h3>
              <blockquote class="mb-4">
                <p>
                  Ciertamente al enseñar a otros aprendemos,
                  en muchas de las ocasiones enseñar a otros
                  nos ayuda a fortalecer el aprendizaje y 
                  lograr explicarlo de manera mas sencilla,
                  para los demás y para nosotros mismos.
                </p>
                <p>
                  Enseñar te obliga a estar siempre actualizado 
                  en tendencias, tecnologias y de técnicas más
                  nuevas, por lo cual estarás siempre vigente 
                  y listo para desempeñarte en tu propio campo.
                </p>
                <p>
                  Tienes la posibilidad de encontrarte con lo más 
                  nuevo del pensamiento especializado en tu ambito de interes.
                </p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2 ">
              <h3 class="h5 text-center">Ayuda</h3>
              <blockquote class="mb-4">
                <p>
                  Tu tienes conocimiento que nosotros desconocemos,
                  esto se convierte en algo muy entretenido porque todos 
                  tenemos conocimiento y todos somos ignorantes, solo no
                  ignoramos las mismas cosas.
                </p>
                <p>
                  En este sentido todos podemos ayudarnos, adquiriendo 
                  nuevo conocimiento y compartiendolo, esto tambien 
                  nos veneficia en otros ámbitos de nuestra vida, mejorando de
                  esta manera nuestra calidad de vida y mejorando la calidad de vida de los demas.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>


    <!--Info-->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <img src="images/Servicios.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 mr-auto">
            <div class="heading mb-4">
              <span class="caption">Origen</span>
              <h2>Servicios</h2>
            </div>
            <p>
              Definitavamente no es para todos la Ciencia de datos, por eso no tenemos
              problemas en compartir nuestro conocimiento, así como a unos no les interesa
              aprender a cocinar, desarrollo web, leyes etc. asi mismo es con 
              la Ciencia de datos, no te interesa aprender pero la llegas a utilizar.
            </p>
            <p>
              Es por esto que ponemos a tu dispocicion nuestro servicio de Analisis de datos,
              el Analisis de datos que forma parte de esta amplia Ciencia de los datos, es
              nuestra pasión, nosotros encontramos muy entretenido y enriquecedor el 
              resolver problemas que involucran datos.
            </p>
            <p>
              ¡Si requieres analizar datos, cuenta con nosotros!
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--Blank-->
    <div class="site-section bg-light">
      <!-- Lista de cursos
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <form action="#" class="d-flex search-form">
              <span class="icon-"></span>
              <input type="search" class="form-control mr-2" placeholder="Search subjects">
              <input type="submit" class="btn btn-primary px-4" value="Search">
            </form>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="d-inline-flex align-items-center ml-auto">
              <span class="mr-4">Share:</span>
              <a href="#" class="mx-2 social-item"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="heading mb-4">
              <span class="caption">Latest</span>
              <h2>Tutorials</h2>
            </div>
          </div>
          <div class="col-lg-8">



            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning React Native</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>

                <p class="mb-0">
                  <span class="brand-react h5"></span>
                  <span class="brand-javascript h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>

                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning Angular 101</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>

                <p class="mb-0">
                  <span class="brand-angular h5"></span>
                  <span class="brand-javascript h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>

                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Learning Photoshop</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>
                <p class="mb-0">
                  <span class="brand-adobephotoshop h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>
                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>

            <div class="d-flex tutorial-item mb-4">
              <div class="img-wrap">
                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div>
                <h3><a href="#">Advance Illustrator</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempore, saepe numquam. Doloremque
                  culpa tenetur facere quisquam, animi illum possimus!</p>
                <p class="mb-0">
                  <span class="brand-adobeillustrator h5"></span>
                </p>
                <p class="meta">
                  <span class="mr-2 mb-2">1hr 24m</span>
                  <span class="mr-2 mb-2">Advanced</span>
                  <span class="mr-2 mb-2">Jun 18, 2020</span>
                </p>
                <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
              </div>
            </div>


            <div class="custom-pagination">
              <ul class="list-unstyled">
                <li><a href="#"><span>1</span></a></li>
                <li><span>2</span></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span>4</span></a></li>
                <li><a href="#"><span>5</span></a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="box-side mb-3">
              <a href="#"><img src="images/img_1_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
            <div class="box-side mb-3">
              <a href="#"><img src="images/img_2_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
            <div class="box-side">
              <a href="#"><img src="images/img_3_horizontal.jpg" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Learning React Native</a></h3>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>


    <!--Conection-->
    <div class="site-section bg-primary py-5 cta">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-md-0">
            <h2 class="mb-0 text-white">¿Interesado en nuestro servicio?</h2>
            <p class="mb-0 opa-7">Te invitamos a pasar a nuestra sección de servicios para más información</p>
          </div>
          <div class="col-lg-5 text-md-right">
            <a href="services.html" class="btn btn-primary btn-white"> Más Información</a>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a class="site-logo-footer"><img src="images/DT.png" alt="LOGO"> DATATEST</a>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row text-center text-black">
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="index.html"> Inicio </a></h2>
              </div>
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="tutorials.html"> Cursos </a></h2>
              </div>
              <div class="col-lg-2">
                <h2 class="footer-heading mb-4"><a href="services.html"> Servicios </a></h2>
              </div>
              <div class="col-lg-2                                            ">
                <h2 class="footer-heading mb-4"><a href="about.html"> Nosotros </a></h2>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">
                  <p>Redes sociales</p>
                </h2>
                <ul class="list-unstyled social">
                  <li><a href="https://www.facebook.com/DatatestOficial/" target="_blank"><span
                        class="icon-facebook"></span></a></li>
                  <li><a href="https://www.youtube.com/channel/UCq0BBZlGXy3z8PS8TeEfSrg?view_as=subscriber"
                      target="_blank"><span class="icon-youtube"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-1 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-0">
              <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear()); </script>
                All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i>
                <a href="index.html"> DT </a>
                <!--Para abrir enlaces en una nueva pestaña agrega: target="_blank" : frente a href=""-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
  </div>
  <!--Scripts Java-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
